{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/bg-header.jpg'%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>MTM is a mentoring matching platform</h1>
                            <p>
                                We will connect you to
                                <br/>
                                personal growth, self development, and social opportunity
                            </p>

                    </div>
                </div>
            </div>
        </div>
    </header>



<!-- Main Content -->

<section class="content-7 v-center">
                <div>

                    <div class="container">
                        <h3>MTM은 무료로 멘토와 멘티를 연결해주는 멘토링 중개 플랫폼입니다.</h3>

                        <div class="row v-center">
                            <div class="col-sm-3">
                                <div>
                                    수수료 걱정없이 마음껏 <br>서비스를 이용하세요.
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-offset-1">
                                    <div class="screen-wrapper">
                                        <div class="screen">
                                            <img src="{% static 'img/screen-popup.png' %}" alt="">
                                            <img src="{% static 'img/screen.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-offset-2">
                                    <h6>For mentor</h6>
                                    소개글을 등록하고 멘티를 찾아보세요.
                                    <h6>For mentee</h6>
                                    다양한 전공의 멘토들을 만나보세요.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  -->
            <section class="content-23 v-center bg-midnight-blue custom-bg" style="background-image: url('{% static 'img/mainimage.jpg'%}')">
                <div>
                    <div class="container">
                        <div class="hero-unit hero-unit-bordered">
                            <h1>무료 멘토링 <br> 매칭 플랫폼</h1>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section>

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                        <img src="{% static 'img/bid.jpg' %}"  alt="">

                        <h3>기존 멘토링 서비스와 차별화된 가격 선정 방식 </h3>

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>MTM은 그룹경매 방식으로 멘토링 비용을 결정합니다. <br>

                                멘토링 대상이 3명 한정이라면, 멘토링 신청자들의 지불의향 가격순으로 3명의 멘티들을 선정합니다.<br>
                                단, 멘티들이 제시한 가격 중 가장 낮은 가격으로 최종 멘토링 비용이 책정됩니다

                                </p>
                                <a class="btn btn-large btn-clear" href="{% url 'account:login' %}?next={{request.path}}">시작하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  -->
            <section class="content-23  v-center" style="background-image: url('{% static 'img/comp.jpg'%}')">
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>자신에게 맞는 대학생
                            <br class="hidden-phone">
                            멘토를 찾아 만나보세요.</h1>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section>

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                        <img alt="" src="{% static 'icons/card@2x.png' %}"/>
                        <h3>MTM은 무료 서비스입니다. </h3>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>
                                    중개 수수료 부담없이 마음껏 서비스를 이용하세요.
                                </p>
                                <a class="btn btn-large btn-clear" href="{% url 'mentoring:mentor_list' %}?next={{request.path}}">살펴보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-11  -->
            <section class="content-11">
                <div class="container">
                    <span>지금 바로 시작하세요.</span>
                    <a class="btn btn-large btn-danger" href="{% url 'account:login' %}?next={{request.path}}">회원가입</a>
                </div>
            </section>





{% endblock %}
