{% extends 'mentoring/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
{% csrf_token %}
<div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


        <div class="card" style="margin-top: 10%;">
          <div class="card-content">
          <div class="card-header"> <h3>{{post_by_mentor.author}}
          <p class = "lead">
                <i class="fa fa-clock-o"> Posted on {{post_by_mentor.created_at|date:'Y-m-d H:i'}}</i><br>
                <i class="fa fa-refresh"> Last updated on {{post_by_mentor.updated_at|date:'Y-m-d H:i'}}</i>
            </p>
          {% if post_by_mentor.author == user %}
            <h2>
            <span class="dropdown btn-group pull-right">
                <a href='{% url 'mentoring:post_by_mentor_edit' post_by_mentor.pk %}'><img src="{% static 'img/edit.png' %}" style="width: 40px;" id="edit"></a>
                <a href='{% url 'mentoring:post_by_mentor_delete' post_by_mentor.pk %}'><img src="{% static 'img/delete.png' %}" style="width: 40px;" id="delete"></a>
            </span>
            </h2>
            {% endif %}</h3>
            <h4 align="right">{{bid_by_mentee}}명이 현재 입찰중</h4> </div>
          </div>
          <div class="card-image">
            <img src="{{post_by_mentor.photo1.url}}">
          </div>
          <div class="card-content">
            <div class="card-header"><strong>제목:</strong> {{post_by_mentor.title}} </div>
          </div>
          <div class="card-content">
            <div class="card-header"><strong>멘토링 인원:</strong> {{post_by_mentor.capacity}}명 </div>
          </div>
          <div class="card-content">
            <div class="card-header"><strong>멘토링 시간:</strong> {{post_by_mentor.hours}}시간 </div>
          </div>
          <div class="card-content">
            <div class="card-header"><strong>멘토링 날짜:</strong> {{post_by_mentor.date}} </div>
          </div>
          <div class="card-content">
            <div class="card-header"><strong>최저 멘토링비:</strong> {{post_by_mentor.lowest_price}}원 </div>
          </div>
          <div class="card-content">
            <div class="card-header"><strong>소개글:</strong> {{post_by_mentor.intro}} </div>
          </div>

          <div class="card-content">
          <form method="POST" enctype="multipart/form-data" class="text-center">
                 {% csrf_token %}
                 <button type="submit" class="btn btn-primary btn-lg" onclick="window.open('bid/new','win','width=650,height=400')";>신청하기
                 <span class="badge">{{mentor.vote_set.count}}</span></button>
          </form>
          </div>
          <div>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_field form.content %}
                <input type='submit' value='댓글 달기'/>
            </form>
          </div>
          <div class="card-extra card-content">
            {% for comment in comment_list %}
                <p>{{comment.content}} by {{comment.author}}
                {% if comment.author == user %}
                <span class="dropdown btn-group pull-right">
                    <a href='{% url 'mentoring:comment_edit' post_by_mentor.pk comment.pk %}'><img src="{% static 'img/edit.png' %}" style="width: 20px;" id="edit"></a>
                    <a href='{% url 'mentoring:comment_delete' post_by_mentor.pk comment.pk %}'><img src="{% static 'img/delete.png' %}" style="width: 20px;" id="delete"></a>
                </span>
                {% endif %}
                </p>
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
      </div>

{% endblock %}

{% block script %}
    <script>
        function edit(){
            return "{% static 'js/comment_edit.js' %}"
        }

      $(document).ready(function (){
            $('.page-heading.mentor').on('click', function (){
                location.href = '/mentor/'
            })
            $('#delete').on('click', function (){
                if (confirm('삭제하시겠습니까?'))
                    location.href = "{% url 'mentoring:post_by_mentor_delete' post_by_mentor.pk %}"
            })
            $('#edit').on('click', function (){
                location.href = "{% url 'mentoring:post_by_mentor_edit' post_by_mentor.pk %}"
            })
    })
    </script>
    <script src="{% static 'js/comment_edit.js' %}"></script>
    <script src="{% static 'js/comment_add.js' %}"></script>

{% endblock %}
